html, body{
    height: 100%;
    background-color: rgb(1, 78, 78); ;
}
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Upper
{
    height: 20%;
    width: 100%;
    border: 10px solid whitesmoke;
    background-color: teal;
    text-align: center;
    padding: 10px;
    
    color:  white;
    
}
.heading
{
   text-align: center;
}
.Down
{
    height: 80%;
    width: 100%;
    border: 10px solid whitesmoke;
    background-color: rgb(1, 78, 78);
    padding: 50px;
    
}

.content
{
    font-size:x-large;
    text-align: center;
    color: white;
    height : 80%;
    border: 10px solid whitesmoke;
    background-color: teal;
    padding: px;
    
}
.hidden
{
   display: none; 
}
.score
{
    padding: 50px;
    
    text-align: right;
}

.result
{
    padding: 20px;
}
.record
{
    text-align: left;
}

.highest
{
    padding: 0px;
    text-align: left;
}
